<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BarOutlookAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BarOutlookAddIn.Properties.Settings>
            <setting name="ServerAddressNB" serializeAs="String">
                <value />
            </setting>
            <setting name="NBDBName" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ArchivePathNB" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSystem" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultEntity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Numerator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsShomron" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileNameNB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCategory" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBaseFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
        </BarOutlookAddIn.Properties.Settings>
    </userSettings>
</configuration>